@import 'normalize', 'main';
@import 'vendor/bootstrap/bootstrap'; //, 'vendor/bootstrap/bootstrap-responsive.min';
@import 'compass';
@import 'vendor/bourbon/bourbon';
@import 'variables';

.btn-primary {
	color: $xdarkbrown;
	font-weight: 700;
	@include text-shadow(none);
	text-transform: uppercase;
	background-color: $lightblue;
	@include background-image(none);
	border-color: blacken($lightblue, 5%);
	@include box-shadow(rgba($black, .25) 1px 1px 2px);
	@include transition(all 125ms ease-in);

	&:hover {
		background-color: $tan;
		border-color: blacken($tan, 5%);
	}

}

.container {
	width: $container-width;
	padding-right: $gutter-width;
	padding-left: $gutter-width;
}

body {
	cursor: default;
	font-family: 'Open Sans', sans-serif;
	background-color: blacken($darkbrown2, 15%);
	min-width: $container-width + ($gutter-width * 2);
}

a {
	color: $lightblue;

	&:hover {
		color: $tan;
	}

}

// HEADER

#header {
	background-color: $darkbrown2;
	background-image: url(/img/bkg-florians.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	height: $line-height * 5;
	position: relative;
		z-index: 2;

	#logo {
		height: $line-height * 5;
		float: left;
	}

	nav {
		margin-top: $line-height * 2;
		float: right;

		ul {
			margin-bottom: 0;
			//margin-right: -$gutter-width;
			margin-left: 0;
			@include clearfix;

			li {
				margin-right: $gutter-width;
				float: left;

				a {
					color: $tan;
					text-transform: uppercase;
					background-color: transparent;
				}

				&:hover,
				&.active,
				&.search {

					a {
						color: $lightblue;
						text-decoration: none;
						background-color: transparent;
					}

				}

				&.dropdown {

					.dropdown-menu {
						top: $line-height;

						li {
							margin-right: 0;
							float: none;

							a {
								color: $tan;
							}

							&:hover {

								a {
									color: $lightblue;
									background-color: transparent;
									@include background-image(none);
									filter: none;
								}

							}

						}

					}

					&:hover {

						ul {
							display: block;
						}

					}

				}

			}

		}

	}

}

// HEADER END

// CONTACT

#contact {
	background-color: $xdarkbrown;
	background-image: url(/img/bkg-wood.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	min-height: $line-height * 18;
	padding-top: $line-height * 2;

	.row-1 {
		text-align: center;

		div {
			margin-right: $gutter-width * 1.5;
			margin-left: $gutter-width * 1.5;
			display: inline-block;

			img {
				margin-bottom: $line-height / 2;
				display: inline-block;
			}

			strong {
				color: $white;
				font-weight: 400;
				display: block;
			}

		}

	}

	.row-2 {
		text-align: center;
		margin-top: $line-height * 3;

		strong {
			color: $white;
			font-family: 'Dancing Script', cursive;
			font-size: 2.5em;
			font-weight: 400;
		}

		a {
			margin-left: $gutter-width;
			vertical-align: top;
		}

	}

}

// CONTACT END

// ABOUT

#about {
	background-color: $darkbrown;
	background-image: url(/img/bkg-footer.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	min-height: $line-height * 13;
	padding-top: $line-height * 2;

	.row-1 {
		@include clearfix;

		.col-1,
		.col-2,
		.col-3 {
			width: 356px;
			float: left;
		}

		.col-1,
		.col-2 {
			margin-right: $gutter-width - 2px;
		}

		h3 {
			color: $lightblue;
			font-family: 'Dancing Script', cursive;
			font-size: 2.5em;
			font-weight: 400;
		}

		p {
			color: $white;
		}

		.gallery {
			margin-right: -4px;
			@include clearfix;

			a {
				float: left;
				width: 86px;
				height: $line-height * 3.5;
				margin-right: 4px;
				margin-bottom: 4px;
				overflow: hidden;

				img {
					max-width: 110%;
				}

			}

		}

	}

}

// ABOUT END

// FOOTER

#footer {
	background-color: $darkbrown;
	background-image: url(/img/bkg-footer.jpg);
	background-position: center -#{$line-height * 15};
	background-repeat: no-repeat;
	min-height: $line-height * 2.5;
	padding-top: $line-height * 1.5;
	position: relative;

	&:before {
		content: '';
		background-color: $black;
		position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		@include opacity(.25);
	}

	.left {
		color: $tan;
		float: left;
		position: relative;

		a {
			color: $tan;
		}

	}

	.social {
		color: $tan;
		float: right;
		position: relative;

		a {
			background-image: url(/img/social-sprite.png);
			width: 30px;
			height: 30px;
				line-height: 30px * 3;
			margin-top: -#{$line-height / 6};
			display: inline-block;
			vertical-align: top;
			overflow: hidden;

			&.facebook {
				background-position: 0 0;

				&:hover {
					background-position: -30px 0;
				}

			}

			&.twitter {
				background-position: 0 -30px;

				&:hover {
					background-position: -30px -30px;
				}

			}

			&.youtube {
				background-position: 0 -#{30px * 2};

				&:hover {
					background-position: -30px -#{30px * 2};
				}

			}

			&.yelp {
				background-position: 0 -#{30px * 3};

				&:hover {
					background-position: -30px -#{30px * 3};
				}

			}

			&.healthgrades {
				background-position: 0 -#{30px * 4};

				&:hover {
					background-position: -30px -#{30px * 4};
				}

			}

		}

	}

}

// FOOTER END

// PAGES

// PAGE HOME

#page-home {

	.slideshow {
		background-color: $tan;
		min-height: 498px;
		position: relative;
		overflow: hidden;

		.g-slideshow {
			width: $container-width + ($gutter-width * 2);
			height: 100%;
			margin-left: -(($container-width + ($gutter-width * 2)) / 2);
			position: absolute;
				left: 50%;

			img {
				position: absolute;
				@include opacity(0);
				@include transition(all 5000ms);

				&.shown {
					@include opacity(1);
				}

			}

		}

		.left {
			text-align: center;
			width: 50%;
			padding-top: $line-height * 9;
			position: relative;
				z-index: 1;
		}

		span {
			color: $white;
			font-size: 2em;
			font-weight: 300;
			text-transform: uppercase;
			display: block;
		}

		h1 {
			color: $white;
			font-family: 'Dancing Script', cursive;
			font-size: 4.75em;
			font-weight: 400;
			margin-top: $line-height * 1.5;
		}

		a {
			padding: #{$line-height / 2} #{$gutter-width / 2};
			margin-top: $line-height * 1.5;
		}

	}

	.about {
		background-color: $darkbrown2;
		background-image: url(/img/bkg-florians.jpg);
		background-position: center top;
		background-repeat: no-repeat;
		min-height: $line-height * 24;
		padding-top: $line-height * 2;

		.row-1 {

			.col-1,
			.col-2,
			.col-3 {
				width: 356px;
				float: left;
			}

			.col-1,
			.col-2 {
				margin-right: $gutter-width - 2px;
			}

			.img {
				background-color: rgba($xdarkbrown, .5);
				padding: 6px;
				@include border-radius(4px);
				margin-top: -6px;
				margin-left: -6px;
				display: inline-block;

				img {
					display: block;
				}

			}

			h2 {
				color: $lightblue;
				font-family: 'Dancing Script', cursive;
				font-weight: 400;
				margin-bottom: 0;
			}

			strong {
				color: $tan;
				font-size: .9em;
				font-weight: 400;
				text-transform: uppercase;
			}

			p {
				color: $white;
				margin-top: $line-height / 2;
			}

			.btn {
				margin-top: $line-height / 2;
			}

		}

	}

	.testimonials {
		background-color: $lightblue;
		background-image: url(/img/bkg-testimonials.jpg);
		background-position: center top;
		background-repeat: no-repeat;
		min-height: $line-height * 12;
		padding-top: $line-height * 2;

		h2 {
			color: $white;
			font-family: 'Dancing Script', cursive;
			font-size: 5em;
			font-weight: 400;
			text-align: center;
		}

		p {
			color: $darkbrown;
			font-family: Georgia, serif;
			font-size: 1.5em;
			font-style: italic;
			text-align: center;
			line-height: $line-height * 1.75;
			margin-top: $line-height * 2;

			.quote {
				color: $white;
			}

			.author {
				font-size: .75em;
			}

		}

	}

}

// PAGE HOME END

// PAGE

.g-page {
	background-color: $darkbrown2;
	//background-image: url(/img/bkg-florians.jpg);
	background-position: center top;
	background-repeat: no-repeat;
}

.g-header {
	background-color: $tan;
	min-height: $line-height * 21;
	position: relative;
	overflow: hidden;

	img {
		width: 100%;
		position: absolute;
			top: -50%;
	}

	.container {
		position: relative;
	}

	h1 {
		color: $white;
		font-size: 4em;
		font-weight: 300;
		text-transform: uppercase;
		line-height: 1.25em;
		margin-top: $line-height * 4;
		margin-bottom: $line-height * 2.5;

		span {
			font-size: 1.5em;
			font-weight: 700;
			display: block;
		}

	}

	a {
		color: $white;
		font-weight: 700;
		text-transform: uppercase;
		padding: $line-height $gutter-width;
		border: 1px solid $white;

		&:hover {
			text-decoration: none;
			background-color: $tan;
		}

	}

}

.g-body {
	padding-top: $line-height * 1.5;
	padding-bottom: $line-height * 3;
}

.g-footer {
	background-color: $lightblue;
	background-image: url(/img/bkg-testimonials.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	padding-top: $line-height * 2;
	padding-bottom: $line-height * 2;
	border-top: 1px solid whiten($tan, 25%, 4);

	.row-1 {
		@include clearfix;

		.col-1 {
			width: 48%;
			padding-right: 2%;
			float: left;
		}

		.col-2 {
			width: 48%;
			padding-left: 2%;
			float: left;
		}

	}

	strong {
		color: $white;
		font-family: 'Dancing Script', cursive;
		font-size: 2.5em;
		font-weight: 400;
	}

	p {
		color: $darkbrown;
		margin-top: $line-height / 2;

		a {
			color: $darkbrown;
			font-weight: 700;
		}

	}

}

.g-main {
	width: $container-width - $gutter-width - 350px;
	float: left;

	h3 {
		color: $lightblue;
		font-family: 'Dancing Script', cursive;
		font-weight: 400;
	}

	img {

		&.border {
			border: 5px solid $white;
		}

		&.float-left {
			margin-right: $gutter-width;
			margin-bottom: $line-height * 1.5;
			float: left;
		}

	}

	p {
		color: $white;
	}

	.g-box {
		background-color: mix($tan, $darkbrown2);
		padding: $line-height #{$gutter-width / 2};
		//border: 1px solid $tan;
		@include border-radius(4px);
		margin-top: $line-height * 2;
		margin-bottom: $line-height * 2;

		h3 {
			margin-top: 0;
		}

	}

	.g-tiles {
		margin-right: -$gutter-width;
		@include clearfix;

		.tile {
			width: 228px;
			margin-right: $gutter-width;
			margin-bottom: $line-height;
			float: left;

			.img {
				height: $line-height * 6.5;
				margin-bottom: $line-height;
				overflow: hidden;

				img {

				}

			}

			strong {
				color: $lightblue;
				font-size: 1.25em;
				font-weight: 400;
				text-transform: uppercase;
				margin-bottom: $line-height / 2;
				display: block;
			}

		}

	}

}

.g-aside {
	width: 350px;
	float: right;

	h3 {
		color: $lightblue;
		font-family: 'Dancing Script', cursive;
		font-weight: 400;
	}

	p {
		color: $tan;

		strong {
			color: $lightblue;
			font-weight: 700;
		}

		span {
			color: $white;
		}

	}

}

.g-h2 {
	padding-bottom: $line-height;
	border-bottom: 1px solid $tan;
	margin-bottom: $line-height * 2;

	h2 {
		color: $lightblue;
		font-weight: 400;
		text-transform: uppercase;
		margin-top: 0;
		margin-bottom: 0;
	}

	strong {
		color: $tan;
		font-size: .9em;
		font-weight: 400;
		text-transform: uppercase;
	}

}

// PAGE END
